@import '../../assets/styles/style.module.scss';

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
  background-color: #e6e7e7;
  padding: 0.5rem;
  margin-top: 0.8rem;
  align-items: center;
  font-size: $fontSize;
}
.row__input {
  height: 20px;
  width: 10vw;
  justify-self: center;
  border-radius: 10px;
  border-color: #e6e7e7;
}

.inputError {
  border: 2px solid rgb(223, 1, 1);
}

.btn {
  height: 40px;
  width: 40px;
  border: none;
  margin-right: 0.5rem;
  &:hover {
    cursor: pointer;
    background-color: #cecece;
  }
}

.icon {
  // height: 20px;
  width: 25px;
}

.row__buttons {
  width: 20%;
  display: flex;
  justify-content: space-around;
  justify-self: center;
}

.disabled {
  pointer-events: none;
  background-color: #cecece;
}
