@import '../../assets/styles/style.module.scss';

.header {
  background-color: $backgroundColor;
  color: $fontColor;
  font-size: $fontSize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
}

.header__logo {
  height: 10vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin-right: 15px;

  a {
    text-decoration: none;
    color: $fontColor;

    &:hover {
      color: hotpink;
      transition: all ease-in-out 0.3s;
    }
  }
}
