@import "../../assets/styles/style.module.scss";

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddcdc;
  border-radius: 10px;
  width: 20%;
  height: 200px;
  background-color: #f3f3f3;
  padding: 4.5rem 2.5rem 5rem;
  font-size: $fontSize;
}

.card__english {
  padding-top: 2.5rem;
  font-weight: 700;
  font-size: 35px;
}

.card__transcription {
  padding-bottom: 2rem;
  color: #a8a8a8;
  font-weight: 400;
  font-style: italic;
}

.card__russian {
  color: $fontColor;
}

.card__button {
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  font-size: $fontSize;
  color: #fff;
  background: rgb(6, 112, 131);
  background: linear-gradient(0deg, rgb(6, 85, 131) 0%, rgb(12, 174, 180) 100%);
  border: none;
  font-family: 'Ysabeau', sans-serif;
  font-weight: 600;
  &:hover {
    background: rgb(1, 176, 199);
    background: linear-gradient(
      0deg,
      rgb(3, 156, 216) 0%,
      rgb(1, 151, 197) 100%
    );
  }
}
