@import '../../assets/styles/style.module.scss';

.table {
    width: 60vw;
    margin: 10vh auto;
}

.table__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.3fr;
    font-size: $fontSize;
}